<table class="profile" summary="Profile information">
	<tr>
		<td class='main'>
			<h3>
				<%=gravatar_for @user%>
				<%= @user.name%>

			</h3>
		</td>
		<td class='sidebar round'>
			<strong>
				Name
			</strong>
		</td>
	</tr>

</table>