<header>
 	<%= image_tag("tweet_logo.jpg", alt: "Sample App",  :class=>"round", :size => '60x60')%>
 	<nav class="round">
 		<ul>
 			<li><%= link_to "Home", "#" %></li>
 			<li><%= link_to "Help", "#" %></li>
 			<li><%= link_to "Sign in", "#" %></li>
 		</ul>
 	</nav>
</header>